<div class="bodyContainer">


    <h2>About us</h2>

    <p>
            For fresh, handcrafted and simply delicious cakes, frozen yoghurt and
            ice creams, Freeze cakes are just one stop away.
    </p>
    <p>
            Wherever you are, you can be assured that our
            entire range of products are made by hand, right in the heart
            of London.
    </p>

    <img src="https://www.foodbusinessnews.net/ext/resources/2019/4/IceCreamScoops_Lead.jpg?1555418605" />



</div>
